body {
  background-color: #2b2b2b;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.header-title-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 80px;
  justify-content: center;
  padding: 100px 0;
  width: 100%;
}

.header-title-container h1 {
  color: #b3b3b3;
  font-family: sans-serif;
  font-size: 6rem;
  text-shadow: 3px 3px 5px #4b4b4b , -3px -3px 5px #181818;
}

.planets {
  align-items: center;
  display: flex;
  justify-content: center;
}

.planet-card {
  display: flex;
  flex-direction: column;
  margin: 0 -11rem;
}

.planet-card p {
  color: #b3b3b3;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  padding-left: 4rem;
  text-shadow: 3px 3px 5px #4b4b4b , -3px -3px 5px #181818;
}

.planet-card img {
  animation: rotation 240s infinite linear;
  height: 12rem;
  width: 12rem;
}

.section-missions-card {
  display: flex;
  flex-flow: row wrap;
  gap: 5rem;
  justify-content: center;
}

.mission-card {
  align-items: center;
  background: #2b2b2b;
  border-radius: 50px;
  box-shadow: 20px 20px 60px #1d1d1d , -20px -20px 60px #414141;
  display: flex;
  flex-flow: column;
  height: 15rem;
  justify-content: center;
  width: 15rem;
}

.mission-card > .um {
  color: #b3b3b3;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  text-shadow: 3px 3px 5px #4b4b4b , -3px -3px 5px #181818;
  width: 12rem;
}

.mission-card > p {
  box-sizing: border-box;
  color: #b3b3b3;
  font-family: sans-serif;
  font-size: 1rem;
  text-align: center;
  text-shadow: 3px 3px 5px #4b4b4b , -3px -3px 5px #181818;
  width: 12rem;
}

/* .section-planetTitle {
  dis
} */

.planetTitle {
  box-sizing: border-box;
  color: #b3b3b3;
  font-family: sans-serif;
  font-size: 3rem;
  text-align: center;
  text-shadow: 3px 3px 5px #4b4b4b , -3px -3px 5px #181818;
}

.div-missions {
  padding-bottom: 5rem;
}

@keyframes rotation {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}


body::-webkit-scrollbar {
  width: 15px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #181818;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #4b4b4b;    /* color of the scroll thumb */
  border: 3px solid #181818;
  border-radius: 20px;       /* roundness of the scroll thumb */
}